<p style="color: green"><%= notice %></p>

<h1>Records</h1>

<div id="records">
  <% @records.each do |record| %>
    <%= render record %>
    <p>
      <%= link "Show this record", [@category, record] %>
    </p>
  <% end %>
</div>

<div>
  <%= link "New record", new_category_record_path(@category) %>
</div>
<div>
  <%= link "Back to Categories", categories_path(@category) %>
</div>
