<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link "Edit this category", edit_category_path(@category) %> |
  <%= link "Back to categories", categories_path %>
  <%= link "View Transactions", category_records_path(@category) %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
